@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  overflow-x: hidden;
  padding-top: 20px;
}

.blinking-cursor>:last-child:after {
  content: "|";
  animation: blink 1s steps(2, jump-none) infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  height: 0px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #859596;
  -webkit-border-radius: 1ex;
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    color: #343a40;
}

.error-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.error-description {
    font-size: 1.25rem;
    text-align: center;
    max-width: 80%;
}